/* ===============================
Colour Palette:
---------------
Dark Grey/Gris Foncé:	                         #465065
Light Grey/Gris Claire:			                   #9aa0ab
Very Light Grey/Gris Très Claire (footer):       #b9c0c6
Red/Rouge:			                               #f0454c
Hover on icons, button and "More ->"             #000
=============================== */

/* General */

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

header{
  height:1000px;
}
.topheader{
  background-color:#f0454c;
  width: 160px;
  color:white;
  padding: 25px;
  margin-top:-7px;
  margin-left: 210px;
  text-align: center;
  border-radius: 10px;
}

img{
  position: absolute;
  z-index: -1;
}

nav{
  list-style-type: none;
  margin-top: -95px;
  margin-left: 650px;
  margin-right: 210px;
  padding-top:10px;
  display:flex;
  justify-content: space-between;
  color:  #465065;
}

fa fa-twitter{
  margin-top: -95px;
}

.fa fa-facebook{
  padding-top:10px
}

a{
  text-decoration: none;
  color: #465065;
}

.main{
  text-align: left;
  margin-top: 280px;
  margin-left: 210px;
  margin-bottom: -10px;
  color:  #465065;
  font-size: 50px;
}

.main1{
  text-align: left;
  margin-left: 210px;
  color:  #465065;
  font-size: 20px;
}

.click{
  background-color:#f0454c;
  width: 160px;
  color:white;
  padding: 25px;
  margin-left: 210px;
  text-align: center;
  border-radius: 10px;
  font-size: 15px;
}

.content1{
  display: flex;
  display: row;
  padding-left: 215px;

}
.content1 h3{
  font-size: 30px;
  color: #465065;
}

.content1 section{
  padding: 20px;
}

.content1 h4{
  color: red;
}

.content2{
margin-top: px;
margin-left: 200px;
}

.content3{
margin-top: px;
margin-left: 250px;
}
