/* ===============================
Colour Palette:
---------------
Dark Grey/Gris Foncé:	                         #465065
Light Grey/Gris Claire:			                   #9aa0ab
Very Light Grey/Gris Très Claire (footer):       #b9c0c6
Red/Rouge:			                               #f0454c
Hover on icons, button and "More ->"             #000
=============================== */

/* General */

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

header{
  height:1000px;
}

.topheader{
  background-color:#f0454c;
  width: 160px;
  color:white;
  padding: 25px;
  margin-top:-7px;
  margin-left: 210px;
  text-align: center;
  border-radius: 10px;
}

img{
  position: absolute;
  z-index: -1;
}

nav{
  list-style-type: none;
  margin-top: -95px;
  margin-left: 650px;
  margin-right: 210px;
  padding-top:10px;
  display:flex;
  justify-content: space-between;
  color:  #465065;
}

fa fa-twitter{
  margin-top: -95px;
}

.fa fa-facebook{
  padding-top:10px;
}

a{
  text-decoration: none;
  color: #465065;
}

.main{
  position: relative;
  text-align: left;
  margin-top: 260px;
  margin-left: 210px;
  margin-bottom: -10px;
  color:  #465065;
  font-size: 50px;
  padding-bottom: 0px;
  width:500px;

}

.main::before{
  display:block;
 content:"";
 width:65px;
 height:7px;
 background-color:#f44242 ;
}

h1{
  margin:0px;
}
.main1{
  text-align: left;
  margin-left: 210px;
  color:  #465065;
  font-size: 20px;
}

.click{
  background-color:#f0454c;
  width: 160px;
  color:white;
  padding: 25px;
  margin-left: 210px;
  text-align: center;
  border-radius: 10px;
  font-size: 15px;
}

.content1{
  display: flex;
  display: row;
  justify-content: space-around;
  width: 940px;
  margin-left: 180px;

}

.content1 h3{
  font-size: 30px;
  color: #465065;
}

.content1 h3::before{
  display:block;
 content:"";
 width:65px;
 height:7px;
 background-color:#f44242;
  margin-left: 1px;
  margin-bottom: 10px;
}

.content1 section{
  padding: 30px;
}

.content1 h4{
  color: red;
}

.content2{

margin-left: 210px;
}

.content3{
margin-top: 70px;
margin-left: 700px;
}

.content3 h3{
  letter-spacing: -2px;
  font-size: 45px;
  color: #465065;


}

.content3 h3::before{
  display:block;
 content:"";
 width:65px;
 height:7px;
 background-color:#f44242;
 margin-bottom: 10px;
}

.content3 h4{
  color: red;
}

.content3 p{
  color: #465065;
}

.content3 h5{
  font-size: 17px;
  color: #465065;
}

.content4{
margin-top: 150px;
margin-left: 210px;
}

.content4 h1{
  font-size: 40px;
  color: #465065;
}

.content4 h1::before{
  display:block;
 content:"";
 width:65px;
 height:7px;
 background-color:#f44242;
 margin-bottom: 10px;
}

.content4 h5{
  font-size: 17px;
  color:grey;
}

.content5 img{
 border-radius:80px;
 height:100px;
 width:100px;

}

.content5{
  margin-left: 150px;
  margin-right: 150px;
  display: flex;
  display: row;
  justify-content: space-around;
}

.three h3{
 font-size:20px;
}

.three h4{
 font-size:17px;
 color:#f44242 ;
}

.three p{
 font-size:15px;
 color:grey;
 line-height:-5;
}

.texxt{
  padding-left: 110px;
  color: #465065;
}

.fin{
  padding-left: 1000px;
  color: red;
  margin-bottom: 50px;
}

.icons{
  text-align: left;
}

footer{
  text-align: right;
  padding-right: 20px;
  border-top: 1px solid grey;
  padding: 10px;
  margin-left:210px;
  margin-right: 210px;
}
